{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <img  src="https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=740&t=st=1686224899~exp=1686225499~hmac=24bbe8cbb3c9439bf7bd5fb3af9dbd4b178b36a2b1c336d6ae1289ae66b24f17" class="w-100 img-fluid"  alt="">
</section>
<section class="container-fluid  mt-5">
    <div class="row mt-5">
    <h1 style="text-align: center;margin: 0 auto;display: inline-block;color: #16a085;">About  </h1>
    </div>
</section>
<section class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-4 mt-5">
            <img class="img-fluid"  src="https://img.freepik.com/free-photo/doctor-with-his-arms-crossed-white-background_1368-5790.jpg?w=740&t=st=1686224439~exp=1686225039~hmac=108acab7c2703bab99c4a17f4e86dc8cd132a39315ba3d5019666aa29e8dcc6b" alt="">
            <div class="">
                <center>
                    <h2>Managing Director  </h2>
            <h3>MUHAMMED ASHIQ </h3>
            <p>MBBS FRCS UK </p>
                </center>
            </div>
        </div>
       
        <div class="col-sm-8 text-center mt-3">
      
         <div class="">
           <center>
            <h3 style="border-bottom: 2px solid #16a085;">
               Worlds NO:1 super speciality Hospital
              </h3>
           </center>
             <p class="mt-3" style="text-align:justify;">This the one of the most selling product it can hold the cool.it will never allow to enter heat to the inside .always keep a cool atmospher in every are from our home
                <br> this is the best to save money  best suitable for every dclass .budget friendly . Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
         </p>
         <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
        </div>

<div class="container-fluid mt-3" style="text-align:justify;">
    <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


</div>

      </div>
    
</section>
<center class="m-3" style="color: #16a085;"><h3>Our Team</h3></center>
<section class="container-fluid team">
    
    <div class="row mt-5">
        <div class="col-md-6 col-lg-3 col-sm-3 mt-2 ">
          <div class="card custom-shadow-r">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/portrait-smiling-handsome-male-doctor-man_171337-5055.jpg?w=740&t=st=1686224595~exp=1686225195~hmac=0a3b46a967c744053f0065227bc6dc2466734dae4fba61e8ba714b79ae3e7f4a" alt="Card image">
            <div class="card-body">
             <center> <h5 class="card-title">Ashiq</h5>
             
              <p class="card-text">CO-Founder.</p></center>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
          <div class="card custom-shadow-r">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/doctor-with-stethoscope-clipboard-looks-surprised-white-background_114579-49842.jpg?w=740&t=st=1686224632~exp=1686225232~hmac=3c41f61185c7b2bcd768f67cfc48f2ca6dccda3c3e851e60d6977552e24d6177" alt="Card image">
            <div class="card-body">
             <center>
              <h5 class="card-title">AMI</h5>
            
              <p class="card-text"> Genaral surgeon.</p>
             </center>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
          <div class="card  custom-shadow-r">
            <img class="card-img-top" src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?w=740&t=st=1686224530~exp=1686225130~hmac=54d009eef7ca06e8dd4c2e87d49a4c2227ccc0401a7ec190dbc1d5f3109823e9" alt="Card image">
            <div class="card-body">
             <center>
              <h5 class="card-title">Michel</h5>
          
              <p class="card-text">supperandant</p>

             </center>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-3 mt-2">
          <div class="card  custom-shadow-r">
            <img class="card-img-top"  src="https://img.freepik.com/free-photo/portrait-concentrated-young-male-doctor_171337-5121.jpg?w=740&t=st=1686224668~exp=1686225268~hmac=9e2f740219ef44b46db3f9960470edc1508a4254f2c270232f75b46f6204da55" alt="Card image">
            <div class="card-body">
              <center>
                <h5 class="card-title">Luis</h5>
              
           
              <p class="card-text">anesthesia Specialist.</p>
              </center>
            </div>
          </div>
        </div>
      </div>
      
     
       
       
     

</section>
<section class="container-fluid bg-light mt-5 " id="about">
 
  
    <div class="row mt-3">
      <div class="col-sm-6">
        <img class="img-fluid"  src="https://img.freepik.com/premium-photo/hospital-room-with-heart-shaped-window-blue-light_861875-382.jpg?w=740" alt="">
      </div>
      <div class="col-sm-6 text-center mt-5">
    
        <h3 class="mt-3">
         Free Medicine is Our prime Goal
       </h3>
       <p class="mt-3" style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  
       </p>
      
      </div>
    </div>
  
  
  
  </section>
  <section class="container-fluid exp">
    <div class="row ">
      <div class="col-sm-6 mt-5">
          <div class="card  custom-shadow-r" style="background-image: url(https://img.freepik.com/free-photo/empty-hallway-background_23-2149408808.jpg?w=740&t=st=1686223649~exp=1686224249~hmac=60d7af30b8b18ab26c680bd3144b26a1cd4c14b7fb0fe139f944f8eb3aa1340b);">
              <div class="card-body">
                  <center><h2 class="card-title"style="font-weight: 600;">10+</h2></center>
                  <p class="card-text text-center"style="font-weight: 600;">Years of Experiance</p>
                  <p style="font-weight: 600;"> It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 mt-5">
          <div class="card  custom-shadow-r" style="background-image: url(https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?w=740&t=st=1686223572~exp=1686224172~hmac=c0850c1ea94890dc6b3dc94837d384a3993ffdf1cd53c3d3b3a367d14c3346a9);">
              <div class="card-body">
                 <center> <h2 class="card-title" style="font-weight: 600;">1500+</h2></center>
                  <p class="card-text text-center"style="font-weight: 600;">Successfull  Surgeory.</p>
                  <p style="font-weight: 600;">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 mt-5">
          <div class="card  custom-shadow-r" style="background-image: url(https://img.freepik.com/free-photo/blur-hospital_1203-7957.jpg?w=740&t=st=1686223316~exp=1686223916~hmac=2ae174ceecefd0cea5e238891baa8b0be4778ea83838f5f562f6fa2bea3c9294);">
              <div class="card-body">
                  <center><h2 class="card-title"style="font-weight: 600;">700+</h2></center>
                  <p class="card-text text-center"style="font-weight: 600;">Happy Client</p>
                  <p style="font-weight: 600;">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                  </p>
              </div>
          </div>
      </div>
      <div class="col-sm-6 mt-5" >
          <div class="card  custom-shadow-r" style="background-image: url(https://img.freepik.com/premium-photo/blurred-interior-hospital-clinical-with-people-abstract-medical-background_1484-1309.jpg?w=740);">
              <div class="card-body">
                    <center>   <h2 class="card-title" style="font-weight: 600;">450+</h2></center>            
                      <p class="card-text text-center" style="font-weight: 600;">Active Workers.</p>
                      <p style="font-weight: 600;">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                      </p>
              </div>
          </div>
      </div>
  </div>
  </section>
{% endblock %}