{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container-fluid serv mt-5">
    <!-- 1111111111111111111111111111111 -->
 <div class="row mt-5">
    <div class="col-sm-6 mt-5 ">
        <img class="img-fluid" src="https://img.freepik.com/premium-photo/ambulance-stands-outside-modern-hospital-doctor-home-call-health-care-concept_189498-967.jpg?w=826" alt="">
       
    </div>
    <div class="col-sm-6 mt-5 ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Ambulance & Mobile ICU</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic. 


            </b></p>
      </div>
    </div>
    <p class="container-fluid" style="text-align: justify;"><b>  It Was Popularised In The 1960s With The Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</b></p>
 </div>
 <div class="row">
    <div class="col-md-4 col-sm-4">
        <p style="text-align: justify;"><b>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        </b></p>
    </div>
    <div class="col-md-4 col-sm-4">
            <img class="img-fluid w-100" src="https://img.freepik.com/premium-photo/ambulance-medical-emergency-traffic_309823-279.jpg?w=740" alt="">
            <center><p><b>GOVERNMENT AMBULANCE</b></p></center>
        </div>
    <div class="col-md-4 col-sm-4">
        <p  style="text-align: justify;"><b>
            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        </b></p>
    </div>
    <p class="container-fluid" style="text-align: justify;"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    </b></p>
 </div>
 </section>
{% endblock %}