{% extends 'base.html' %}
{% load static %}
{% block content %}

  <section class="container-fluid main" style="background-image: url('https://img.freepik.com/free-photo/image-woman-doctor-listening-patient-lungs-with-stethoscope-doing-medical-checkup-clinic-stand_1258-119235.jpg?w=996&t=st=1686133784~exp=1686134384~hmac=8ee27bc2753cd508bd2b03fce19f738f16336eba46e8be8f2c063d4afa72281b'); background-repeat: no-repeat; background-size: cover;object-fit: cover;">
    <div class="row" style="top: 5rem; min-height: 80vh;">
      <div class="col-sm-6 col-md-6 col-lg-6">
       
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6  d-flex flex-column justify-content-center align-items-center">
        <h3 class="mr-5 mt-5">Your most Trusted</h3>
        <h1 class="ml-3">HEALTH PARTNER</h1>
        <p class="mr-5" style="font-weight: 600;">The best services for you </p>
        <p style="font-weight: 600;">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since .</p>
        <div class="form-inline  ">
            <button class="mr-5 m-3"  ><a class="btn btn-primary pl-2 pr-2 " href="{% url 'about' %}">LearnMore</a></button>
            <button class=" mr-5 "><a class="btn btn-primary pl-2 pr-2" href="{% url 'lg' %}">Book Appoinment</a></button>
    </div>
    </div>
    
    </div>
  </section>

  <div class="container-fluid mt-5 " id="about" >
    <center><h2 style="color: #16a085;">ABOUT US</h2></center>
  </div>
  <section class="container-fluid about bg-light" id="about">
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 mt-5">
        <p class="mt-3"  style="text-align: justify;"><b>We have been Successfully Working last 12 Years. <br> Our primary vission is provide all the ist class medical treatment with an affordable cost</b></p>
        <p style="text-align: justify;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        </p>
        <center class="m-5"><a class="p-1 pl-4 pr-4 " href="{% url 'about' %}">More</a></center>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6 col-9">
           <img class="w-100" src="https://img.freepik.com/premium-photo/indian-asian-doctors-group-photo-showing-success-thumbs-up-sign-standing-isolated-white-background-selective-focus_466689-33681.jpg?w=740" alt="">
           
    </div>

  </div>

  </section>

<!-- ******************************************************** -->

<div class="container-fluid mt-5 mb-5">
  <center><h2 style="color: #16a085;">SPECIALITIES</h2></center>
</div>
<section class="container-fluid ">
  <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/scientist-analyzing-blood-sample-vacutainer-with-researching-team-looking-through-microscope_482257-8521.jpg?w=740&t=st=1686141930~exp=1686142530~hmac=2fec20e18e595cb4d7c0ff0400037ccc6f529211c47030a98a4957511db0e39a" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">RESEARCH CENTER</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/researching-laboratory_1384-51.jpg?w=740&t=st=1686141886~exp=1686142486~hmac=4ae614ed04e372101c843e386e8d588522d76fcb7237f48b21ff6efba31faf05" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">LABORATARY</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/doctor-getting-patient-ready-ct-scan_23-2149367401.jpg?w=740&t=st=1686142039~exp=1686142639~hmac=e589d042a0817d4e2ff31f339612d4354a001c1af13d2d3be9953709e6b5ef9f" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">MRI</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/cancer-treatment-modern-medical-private-clinic-hospital-with-linear-accelerator-professional-doctors-team-working-while-woman-is-undergoing-radiation-therapy-cancer_283617-1743.jpg?w=740" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">RADIOGRAPHY</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/surgeons-operating-lighting-equipment-male-female-doctors-are-wearing-blue-scrubs-they-are-working-hospital_657921-1085.jpg?w=740&t=st=1686142143~exp=1686142743~hmac=dbb78184c39181330a175ded260248a5c14e74a36cbc72e78928a17661e215f4" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">ENDOSCOPY</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/portrait-surgeons-preparing-operation-operation-room_1170-2251.jpg?w=740&t=st=1686142224~exp=1686142824~hmac=173ad9d86e76294a962a8ed5f9e69283f6d1a9093d35c09ce1dc3b7dc317fe52" alt="Image" />
          <div class="card-body-s p-5">
            <h3 class="card-title text-center">OPERATION THEATRE</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- 777777777777777777777777777777777777777777777777777777777 -->


<div class="container-fluid mt-5 mb-5">
  <center><h2 style="color: #16a085;">OUR SERVICES</h2></center>
</div>
<section class="container-fluid serve">
  <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
          <center style="font-size: 300%;" ><i  class="fas fa-ambulance"></i></center>
          <div class="card-body">
            <h3 class="card-title text-center">24/7 Ambulance service</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
         <center style="font-size: 300%;"> <i class="fas fa-tint"></i></center>
                      <div class="card-body">
            <h3 class="card-title text-center">Blood Bank</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
            <center style="font-size: 300%;">            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/medical-doctor.png" alt="medical-doctor"/>
            </center>

                      <div class="card-body">
            <h3 class="card-title text-center">Expert doctors</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
          <center style="font-size: 300%;"><i class="fas fa-hospital"></i></center>       
             <div class="card-body">
            <h3 class="card-title text-center">Free Checkup</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
<center style="font-size: 300%;"> 
<img style="fill: #16a085;" width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/victim.png" alt="victim"/>
</center>
          <div class="card-body">
            <h3 class="card-title text-center">Casualty</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
        <div class="card custom-shadow-r">
<center style="font-size: 300%;"><i class="fas fa-prescription-bottle"></i></center>            <div class="card-body">
            <h3 class="card-title text-center">Medicine</h3>
            <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <center><button><a class="btn btn-primary" href="">Learn more</a></button></center>

          </div>
        </div>
      </div>
    </div>
</section>

<div class="container-fluid mt-5 mb-5">
  <center><h2 style="color: #16a085;">OUR DOCTORS</h2></center>
</div>

<section class="container-fluid mt-5 mb-5 review">
  <div class="swiper  review-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="box">
                <img src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?w=740&t=st=1686205448~exp=1686206048~hmac=9e7860b63036e43cdbc1c01eaa0a6632dc275759f10dcc690d8a6f034ab9078e" alt="">
                <h4>Dr.Sunny</h4>
                <h6>Pediatrics</h6>
                <p><b>Deals with the medical care of infants,children,and adolescents its</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                     but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <center>
                      <div class="social">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                     </center>
            </div>
        </div>


        <div class="swiper-slide">
            <div class="box">
                <img src="https://img.freepik.com/free-photo/woman-doctor-wearing-lab-coat-with-stethoscope-isolated_1303-29791.jpg?w=740&t=st=1686205464~exp=1686206064~hmac=49c41f524acbea551fe6147c63abd84c456ba5ad9e26d1657d8fb6a408d7cea8" alt="">
                <h4>Dr.Sumi</h4>
                <h6>Gynecology</h6>
                <p><b>Focuseson women'sreproductive health,including pregnancychildbirth.</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                     but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <center>
                      <div class="social">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                     </center>
            </div>
        </div>

        
        <div class="swiper-slide">
          <div class="box">
              <img src="https://img.freepik.com/free-photo/portrait-smiling-handsome-male-doctor-man_171337-5055.jpg?w=740&t=st=1686205484~exp=1686206084~hmac=b88193cc698fceef8af74d8e28c331b2918784ebfa482492834e4bb31633bf21" alt="">
              <h4>Dr.sharon</h4>
              <h6>Cardiology</h6>
              <p><b>Specializes in the diagnosis and treatment of heart diseases </b></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                   but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <center>
                    <div class="social">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-instagram' ></i></a>
                      <a href="#"><i class='bx bxl-twitter' ></i></a>
                      <a href="#"><i class='bx bxl-linkedin' ></i></a>
                  </div>
                   </center>
          </div>
      </div>

      
      <div class="swiper-slide">
        <div class="box">
            <img src="https://img.freepik.com/premium-photo/bearded-male-doctor-mask-holding-two-syringes-his-hands-blue-background_661495-18273.jpg?w=740" alt="">
            <h4>Dr.Krishi</h4>
            <h6>Orthopedics</h6>
            <p><b>Deals with the prevention, diagnosis, and treatment of muscul disorders.</b></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                 but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 <center>
                  <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
                 </center>
        </div>
    </div>
        <div class="swiper-slide">
            <div class="box">
                <img src="https://img.freepik.com/premium-photo/handsome-doctor-portrait-background_488220-16488.jpg?w=740" alt="">
                <h4>Dr.Diego</h4>
                <h6>Neurology</h6>
                <p><b>Specializes in disorders of the nervous system, including the.</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                     but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <center>
                      <div class="social">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                     </center>
            </div>
        </div>

        
        <div class="swiper-slide">
          <div class="box">
              <img src="https://img.freepik.com/free-photo/front-view-young-male-doctor-white-suit-with-blue-stethoscope-holding-notepad_140725-29529.jpg?w=740&t=st=1686205598~exp=1686206198~hmac=021d1204008d67ee54adef9e686724b9e696cc373b0e68f528b5cd537736bc00" alt="">
              <h4>Dr.Abdu</h4>
              <h6>Oncology</h6>
              <p><b>Focuses on the diagnosis and treatment of cancer.</b></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                   but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                   <center>
                    <div class="social">
                      <a href="#"><i class='bx bxl-facebook'></i></a>
                      <a href="#"><i class='bx bxl-instagram' ></i></a>
                      <a href="#"><i class='bx bxl-twitter' ></i></a>
                      <a href="#"><i class='bx bxl-linkedin' ></i></a>
                  </div>
                   </center>
          </div>
      </div>

      
      <div class="swiper-slide">
        <div class="box">
            <img src="https://img.freepik.com/premium-photo/cheerful-hindu-doc-holding-laptop-isolated-blue_116547-50993.jpg?w=740" alt="">
            <h4>Dr.Thomas</h4>
            <h6>Gastroenterology</h6>
            <p><b>Focuses on the digestive system and its various parts</b></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                 but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                 <center>
                  <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
                 </center>
        </div>
    </div>


    <div class="swiper-slide">
      <div class="box">
          <img src="https://img.freepik.com/free-photo/smiling-touching-arms-crossed-room-hospital_1134-799.jpg?w=740&t=st=1686205668~exp=1686206268~hmac=88cadb26eaec49b0c1ca80da854704b57f9bd802e0658827ae8dd777bd0128e2" alt="">
          <h4>Dr.Kurup</h4>
          <h6>General surgeon</h6>
          <p><b>Focuses on the digestive system and its various branch</b></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
               but also the leap into electronic typesetting, remaining essentially unchanged.</p>
               <center>
                <div class="social">
                  <a href="#"><i class='bx bxl-facebook'></i></a>
                  <a href="#"><i class='bx bxl-instagram' ></i></a>
                  <a href="#"><i class='bx bxl-twitter' ></i></a>
                  <a href="#"><i class='bx bxl-linkedin' ></i></a>
              </div>
               </center>
      </div>
  </div>

        <div class="swiper-slide">
            <div class="box">
                <img src="https://img.freepik.com/free-photo/portrait-successful-mid-adult-doctor-with-crossed-arms_1262-12865.jpg?w=740&t=st=1686205679~exp=1686206279~hmac=c9226e6fd667f717cfb529b4719873bc0847fb435e144365e0af314862c7e3a7" alt="">
                <h4>Dr.Ashiq</h4>
                <h6>ENT</h6>
                <p><b>Focuses on the digestive system and its various parts</b></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                     but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                     <center>
                      <div class="social">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram' ></i></a>
                        <a href="#"><i class='bx bxl-twitter' ></i></a>
                        <a href="#"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                     </center>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</section>


<div class="container-fluid mt-5 mb-5">
  <center><h2 style="color: #16a085;">FEATURED</h2></center>
</div>

<section class="container-fluid feat" >
  <div >
    <div class="row">
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/premium-photo/doctor-woman-typing-information-patient-prescription-from-paperwork-medical-history-form-into-laptop_143683-4944.jpg?w=740" alt="rr">

          <div class="card-body" >
            <h5 class="card-title">E H R SYSTEM</h5>
            <p class="card-text">EHR systems allow healthcare providers to digitally store and access patient medical records, including medical history, test results, medications, and treatment plans. This technology improves information sharing and coordination among healthcare professionals.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2" >
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/free-photo/male-doctor-waving-during-video-call-laptop-medical-clinic_637285-11156.jpg?w=740&t=st=1686213673~exp=1686214273~hmac=18db47e0d62738e61161063293cfa3cbaaf32198e5d06d4b2b106f0b89c8685e" alt="">
          <div class="card-body">
            <h5 class="card-title">Tele Medicine</h5>
            <p class="card-text">Telemedicine enables remote diagnosis and treatment of patients through video conferencing and digital communication. It allows healthcare providers to reach patients in remote areas, offer virtual consultations, monitor chronic conditions remotely, and provide timely medical.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid" src="https://img.freepik.com/premium-photo/3d-illustration-surgery-robot-modern-surgery-room-medical-technology-controlled-by-ai_564714-416.jpg?w=740" alt="">
          <div class="card-body">
            <h5 class="card-title">Robotic Surgery</h5>
            <p class="card-text">Robotic surgery involves using robotic systems to assist surgeons in performing complex procedures with precision, flexibility, and minimally invasive techniques. These systems provide enhanced visualization, dexterity, and control, resulting in smaller incisions, reduced pain, shorter recovery times.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/premium-photo/medical-technology-concept-with-3d-rendering-cyborg-diagnos-with-carm-machine_493806-14360.jpg?w=740" alt="">
          <div class="card-body">
            <h5 class="card-title">Artificial Intelligence </h5>
            <p class="card-text"> AI is being applied in various aspects of healthcare, including diagnostics, drug discovery, and treatment planning. AI algorithms can analyze large amounts of medical data, identify patterns, and provide insights to aid in early disease detection, personalized treatment plans, and medical.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/premium-photo/team-medial-researchers-monitoring-vo2-woman-performance-sports-wearing-mask-running-lab-science-doctor-measuring-endurance-using-tablet-while-ekg-scan-runs-computer-screen-laboratory_482257-16565.jpg?w=740" alt="">
          <div class="card-body">
            <h5 class="card-title">Wearable Devices</h5>
            <p class="card-text">Wearable devices such as fitness trackers, smartwatches, and biosensors are increasingly used to monitor patients' vital signs, physical activity, and sleep patterns. They provide real-time data for disease management, remote monitoring, and early detection of health issues will occure .</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/free-photo/doctors-wearing-vr-simulation-with-hologram-medical-technology_53876-96336.jpg?w=740&t=st=1686214316~exp=1686214916~hmac=04d519b5374dabb2d3359a7d69a99d7dcfa0fde841d9bb682a439929cc667ee8" alt="">
          <div class="card-body">
            <h5 class="card-title">AR & VR </h5>
            <p class="card-text">AR and VR technologies are utilized in healthcare for medical education, surgical training, pain management, and patient rehabilitation. They can create immersive environments, simulate medical procedures, and enhance the patient experience.this for medical student</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/free-photo/experiment-biotechnology-with-chemistry-science_23-2150365009.jpg?w=740&t=st=1686214431~exp=1686215031~hmac=acf76331c927f5175ef1abaa634d3843931337081e34a5cbb53c0f1ee451e9cd" alt="">
          <div class="card-body">
            <h5 class="card-title">Nanomedicine</h5>
            <p class="card-text">Nanotechnology is used to develop targeted drug delivery systems, biosensors, and imaging agents at the nanoscale level. These advancements enable precise treatment, early disease detection, and improved therapeutic efficacy.more efficiant way in future</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2">
        <div class="card custom-shadow-r">
          <img class="img-fluid " src="https://img.freepik.com/free-photo/doctor-with-patient-physiotherapy-clinic_1157-38598.jpg?w=740&t=st=1686214542~exp=1686215142~hmac=c87d3996f3d7fb6cbf55531bd78cc5a794a3667d5bb2cf779c69dd228804d04c" alt="">
          <div class="card-body">
            <h5 class="card-title">Robotic Exoskeletons</h5>
            <p class="card-text">Robotic exoskeletons are wearable devices designed to assist with mobility and rehabilitation. They provide support and enhanced strength for patients with physical impairments, allowing them to regain mobility and perform daily activities more independently.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<div class="container-fluid mt-5 mb-5">
  <center><h2 style="color: #16a085;">SATISFIED PATIANTS</h2></center>
</div>

<section class="container-fluid star ">

  <div id="swiper-container" class="card-slider-container">
    <div class="swiper-wrapper">
      <!-- Review Cards -->
      <div class="swiper-slide">
       <center>
        <div class="review-card">
          <div class="avatar">
            <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/Option-3-1024x683.jpg" alt="User Avatar">
          </div>
          <h3 class="username">John Brittas</h3>
          <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

        </div>
        </div>
       </center>
      </div>
      <!-- Repeat the above swiper-slide element 9 more times -->
      <!-- Example -->
      <div class="swiper-slide">
       <center>
        <div class="review-card">
          <div class="avatar">
            <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/Option-3-1024x683.jpg" alt="User Avatar">
          </div>
          <h3 class="username">John Brittas</h3>
          <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

        </div>
        </div>
       </center>
      </div>
      <div class="swiper-slide">
       <center>
        <div class="review-card">
          <div class="avatar">
            <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/Option-3-1024x683.jpg" alt="User Avatar">
          </div>
          <h3 class="username">John Brittas</h3>
          <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

        </div>
        </div>
       </center>
      </div>
      <div class="swiper-slide">
       <center>
        <div class="review-card">
          <div class="avatar">
            <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/Option-3-1024x683.jpg" alt="User Avatar">
          </div>
          <h3 class="username">John Brittas</h3>
          <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

        </div>
        </div>
       </center>
      </div>
      <div class="swiper-slide">
        <center>
          <div class="review-card">
            <div class="avatar">
              <img src="https://media.istockphoto.com/id/1303206558/photo/headshot-portrait-of-smiling-businessman-talk-on-video-call.jpg?s=612x612&w=0&k=20&c=hMJhVHKeTIznZgOKhtlPQEdZqb0lJ5Nekz1A9f8sPV8= " alt="User Avatar">
            </div>
            <h3 class="username">John Brittas</h3>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
            <div class="stars">
              <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
  
          </div>
          </div>
        </center>
      </div>
      <div class="swiper-slide">
       <center>
        <div class="review-card">
          <div class="avatar">
            <img src="https://www.corporatephotographylondon.com/wp-content/uploads/2019/11/HKstrategies-755-1-1024x683.jpg" alt="User Avatar">
          </div>
          <h3 class="username">John Brittas</h3>
          <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
            <i class="far fa-star"></i>

        </div>      
        </div>
       </center>
      </div>
      <div class="swiper-slide">
        <center>
          <div class="review-card">
            <div class="avatar">
              <img src="https://media.istockphoto.com/id/1303206558/photo/headshot-portrait-of-smiling-businessman-talk-on-video-call.jpg?s=612x612&w=0&k=20&c=hMJhVHKeTIznZgOKhtlPQEdZqb0lJ5Nekz1A9f8sPV8=" alt="User Avatar">
            </div>
            <h3 class="username">John Brittas</h3>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
            <div class="stars">
              <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
  
          </div>   
             </div>
        </center>
      </div>
      <div class="swiper-slide">
  <center>
    <div class="review-card">
      <div class="avatar">
        <img src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?b=1&s=612x612&w=0&k=20&c=eU56mZTN4ZXYDJ2SR2DFcQahxEnIl3CiqpP3SOQVbbI=" alt="User Avatar">
      </div>
      <h3 class="username">John Brittas</h3>
      <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
      <div class="stars">
        <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
        <i class="far fa-star"></i>

    </div>      
    </div>
  </center>
      </div>


      <div class="swiper-slide">
        <center>
          <div class="review-card">
            <div class="avatar">
              <img src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?b=1&s=612x612&w=0&k=20&c=eU56mZTN4ZXYDJ2SR2DFcQahxEnIl3CiqpP3SOQVbbI=" alt="User Avatar">
            </div>
            <h3 class="username">John Brittas</h3>
            <p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel fringilla justo. Vestibulum aliquet pulvinar ligula sed feugiat.</p>
            <div class="stars">
              <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
  
          </div>      
          </div>
        </center>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>
  

<script>
  var swiper = new Swiper('#swiper-container', {
      slidesPerView: 'auto',
      spaceBetween: 20,
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false
      }
    });
  
</script>

</section>



<section class="container-fluid mt-5  rev">


    
  <div class="container">
   <h2 class="text-center" style="color: #16a085;">Your valuable Review</h2>

   <form action="" method="POST">
     <label for="name">Name:</label>
     <input type="text" id="name" name="name" required>
     
     <label for="email">Email:</label>
     <input type="email" id="email" name="email" required>
     
     <label for="rating">Rating:</label>
     <select id="rating" name="rating" required>
       <option value="5">5 - Excellent</option>
       <option value="4">4.5 - Very Good</option>
       <option value="4">4 - Very Good</option>
       <option value="3">3.5 - Good</option>
       <option value="3">3 - Good</option>
       <option value="2">2 - Fair</option>
       <option value="1">1 - Poor</option>
     </select>
     
     <label for="review">Review:</label>
     <textarea id="review" name="review" rows="4" required></textarea>
     
     <center>
      <button><a href="{% url 'lg' %}">Submit</a></button>
     </center>
   </form>
  </div>
 



</section>


<div class="container-fluid mt-5 mb-5" id="contact">
  <center><h2 style="color: #16a085;">REACH US</h2></center>
</div>

<section class="container-fluid mt-5 ">
  <div class="row">
    <div class="col-sm-6  justify-content-center ">
       
   
           <div style="width: 60%;height: 30%;" class="card m-1 mx-auto">
            <i style="font-size: 200%;" class="fas fa-map-marker-alt text-center"></i>
            <div class="card-body">
               <center>
                <p><b>Well care hospital <br>
                  Mercy junction <br> palakkad </b></p>
               </center>
            </div>
          </div>
       
          <div style="width: 60%;height: 30%;" class="card m-1 mx-auto">
            <i style="font-size: 200%;"class="far fa-envelope text-center"></i>
            <div class="card-body">
             <center>
              <p><b>help.wellcare@gmail.com</b></p>
              <p><b>demo.wellcare@gmail.com</b></p>
             </center>
            </div>
          </div>
       
       
          <div style="width: 60%;height: 30%;" class="card m-1 mx-auto">
            <i style="font-size: 200%;" class="fas fa-phone text-center"></i>
            <div class="card-body">
              <center>
                <p><b>+91</b>985875548</p>
              <p><b>+91</b>985585548</p>
              </center>
            </div>
          </div>
  
       
    </div>
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62708.81475119001!2d76.61270725501326!3d10.788248692703458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86dfa087d31ad%3A0xf542d6eb7a870a56!2sPalakkad%2C%20Kerala!5e0!3m2!1sen!2sin!4v1686221411865!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock %}