{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid main" style="background-image: url('https://img.freepik.com/free-photo/image-woman-doctor-listening-patient-lungs-with-stethoscope-doing-medical-checkup-clinic-stand_1258-119235.jpg?w=996&t=st=1686133784~exp=1686134384~hmac=8ee27bc2753cd508bd2b03fce19f738f16336eba46e8be8f2c063d4afa72281b'); background-repeat: no-repeat; background-size: cover;object-fit: cover;">
    <div class="row" style="top: 5rem; min-height: 80vh;">
      <div class="col-sm-6 col-md-6 col-lg-6">
       
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6  d-flex flex-column justify-content-center align-items-center">
        <h3 class="mr-5">Your most Trusted</h3>
        <h1>HEALTH PARTNER</h1>
        <p class="mr-5" style="font-weight: 600;">The best services for you </p>
        <p style="font-weight: 600;">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since .</p>
        <div class="form-inline ">
            
            <button class="btn btn-primary p-1 mr-5 pl-2 pr-2">Signup</button>
    </div>
    </div>
    
    </div>
  </section>

  <section class="container-fluid serv mt-2">
    <!-- 1111111111111111111111111111111 -->
 <div class="row mt-2">
    <div class="col-sm-6 ">
        <img class="img-fluid" src="https://img.freepik.com/premium-photo/ambulance-stands-outside-modern-hospital-doctor-home-call-health-care-concept_189498-967.jpg?w=826" alt="">
    </div>
    <div class="col-sm-6  ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Ambulance & Mobile ICU</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="{% url 'dt' %}">Read More</a></center>
      </div>
    </div>
 </div>
 <!-- 2222222222222222222222222222222 -->
 <div class="row mt-2">
    <div class="col-sm-6  ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Blood Bank</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="">Read More</a></center>
      </div>
    </div>
    <div class="col-sm-6  ">
        <img src="https://img.freepik.com/premium-photo/close-up-patient-with-tubes-her-arm-squeezing-ball-her-hand-while-donating-blood_249974-4241.jpg?w=740" class="img-fluid" alt="">
    </div>
 </div>
 <!-- 3333333333333333333333333333 -->
 <div class="row mt-2">
    <div class="col-sm-6 ">
        <img class="img-fluid" src="https://img.freepik.com/free-photo/medium-shot-scientists-posing-together_23-2148969982.jpg?w=740&t=st=1686211409~exp=1686212009~hmac=13d888dbcaa956d5efd1d1280d18375dc26a924f442fda6d993a486b1e4007dc" alt="">
    </div>
    <div class="col-sm-6 ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Expert Doctors</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="">Read More</a></center>
      </div>
    </div>
 </div>
 <!-- 44444444444444444444444444444444 -->
 <div class="row mt-2">
    <div class="col-sm-6  ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Free Checkup</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="">Read More</a></center>
      </div>
    </div>
    <div class="col-sm-6 ">
        <img class="img-fluid" src="https://img.freepik.com/free-photo/young-male-psysician-with-patient-measuring-blood-pressure_1303-17879.jpg?w=740&t=st=1686211526~exp=1686212126~hmac=14c106a390f737d35dd93a1cf30d6ff462f8cc1112af80189e0eb07de2c0769d" alt="">
    </div>
 </div>
 <!-- 555555555555555555555555555555555 -->
 <div class="row mt-2">
    <div class="col-sm-6  ">
        <img class="img-fluid" src="https://img.freepik.com/free-photo/young-doctor-with-stetoscope-listening-patient-heart-lungs_657921-1499.jpg?w=740&t=st=1686211593~exp=1686212193~hmac=e037c98bbcf0b770950917aab105d8bdf20586a060bcbc805cd1af9cc6274cb6" alt="">
    </div>
    <div class="col-sm-6 ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Casualty</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="">Read More</a></center>
      </div>
    </div>
 </div>
 <!-- 66666666666666666666666666666666666 -->
 <div class="row mt-2">
    <div class="col-sm-6 ">
        <div class="mt-5" style="justify-content: center;align-items: center;text-align: justify;margin: 0 auto;">
            <h2 class="text-center">Pharmacy</h2>
            <p class="mt-5"><b>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </b></p>
            <center class="mb-3"><a href="">Read More</a></center>
            
      </div>
    </div>
    <div class="col-sm-6 ">
        <img src="https://img.freepik.com/free-photo/pharmacist-checking-medicines-drugstore_259150-57964.jpg?w=740&t=st=1686211684~exp=1686212284~hmac=7b72e59b2ce277b3905a0da2a69be8a3400ae77ad08931b3140b9193480e5b58" class="img-fluid" alt="">
    </div>
 </div>

  </section>
{% endblock %}